
/*---------------------------------------------------*/
#img_hero_laureano_pink{
    width: 85%;
    height: auto;
    height: auto;
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: start;
    align-self: start;
    z-index: -2;
  }

#h1_hero{
    font-size: 20vh;
  }
  
  #p_hero{
    font-size: 5vh;
    
  }

  #text_hero{
    width: 50%;
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
  }
/*---------------------------------------------------*/
@media only screen and (max-device-width: 1512px) {

  #img_hero_laureano_pink{
    width: 90%;
    
  }
  #p_hero{
    font-size: 4.5vh;
  }

  #text_hero{
    width: 50%;
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
  }
   

}


@media only screen and (max-device-width: 1100px) {

  #img_hero_laureano_pink{
    width: 100%;
    padding-top: 15%;
    padding-right: 0;
  }
  #p_hero{
    font-size: 4vh;
  }

  #text_hero{
    width: 65%;
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
  }
}

@media only screen and (max-device-width: 400px) {

  #img_hero_laureano_pink{
   grid-area: imgHero;
   justify-self: center;
   align-self: center;
    padding-right: 8%;
    padding-bottom: 5%;
    padding-top: 0;
    width: 150vw;
    overflow: hidden;
    height: auto;
  }

  #text_hero{
    grid-area: textHero;
    justify-self: center;
    align-self: start;
  }

  #h1_hero{
    padding-top: 10%;
    text-align: center;
    font-size: 15vh;
  }

  #p_hero{
    display:none;
    font-size: 3vh;
    text-align: center;
  }
}
