
/*---------------------------------------------------*/
#vid_hero{
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: start;
    align-self: start;
    width: 100%;
    z-index:2;
    overflow: hidden;
  }

  #vid_hero_laureano_pink{
    width: 85%;
    height:auto;
  }

#h1_hero{
    font-size: 20vh;
  }
  
  #p_hero{
    font-size: 5vh;
    
  }
  #p_hiden_hero{
    display: none;
    font-size: 1.5vh;
    color:#534D4C;
    
    
  }

  #text_hero{
    width: 50%;
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
    padding-bottom: 10%;
  }

  #say_hi{
    position: absolute;
    top:30%;
    left:30%;
    width: 6%;
    height: auto;
  }
 
  #sm_id{
    padding-left: 2%;
    display: inline;
  }

  .social_media_icons{
    padding-top: 5%;
    padding-right: 5%;
    width: 8%;
    height: auto;
    cursor: pointer;
    
  }
  
/*---------------------------------------------------*/
@media only screen and (max-device-width: 1512px) {

  #vid_hero_laureano_pink{
   width: 90%;
    
  }
  #p_hero{
    font-size: 4.5vh;
  }

  #text_hero{
    width: 50%;
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
  }
   
  #say_hi{
   
    top:45%;
    left:30%;
    width: 8%;
  
  }

}
@media only screen and (max-device-width: 1366px) {

  #vid_hero{
    justify-self: center;
    align-self: center;
    width: 80%;
  }
  #vid_hero_laureano_pink{
    width: 100%; 
    margin-right: 0;
  }

  #say_hi{
    top:40%;
    left:25%;
  }

  #p_hero{
    font-size: 5vh;
    
  }
  #p_hiden_hero{
    font-size: 2.3vh;
  }

}

@media only screen and (max-device-width: 1100px) {

  #vid_hero{
    padding-top: 5%;
   
    overflow: hidden;
  }

  #vid_hero_laureano_pink{
    width: 106%;
    
  }

  #p_hero{
    font-size: 3.5vh;
  }

  #text_hero{
    width: 60%;
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
  }
}

@media only screen and (max-device-width: 800px) {
  #text_hero{
    width:70%;
  }
  #say_hi{
    top:35%;
    left:35%;
  }
  #p_hiden_hero{
    font-size: 1vh;
  }

  #p_hero{
   
    font-size: 2.5vh;
  }
  #h1_hero{
   
    font-size: 15vh;
  }
}


@media only screen and (max-device-width: 500px) {

  #vid_hero{
    
    grid-area: imgHero;
    grid-row-start: 3;
    justify-self: start;
    align-self: start;
    padding-top: 0%;
    overflow: hidden;
  }

  #vid_hero_laureano_pink{
    width: 100%;
    padding-right: 10vw;
  }
  #text_hero{
    padding-top: 0%;
    grid-area: tHero;
    justify-self: center;
    align-self: center;
    place-self: center;
    width: 60%;
  }

  #h1_hero{
    font-size: 15vh;
    text-align: center;
  }

  #p_hero{
    display: none;
    text-align: center;
    font-size: 3.3vh;
  }

  #sm_id{
    margin-left: 29%;
    place-self: center ;
    height: auto;
    padding-left: 0%;
  }

  .social_media_icons{
    padding-top: 5%;
    width: 10%;
    
  }

  #say_hi{
    position: absolute;
    top:20%;
    left:10%;
    width: 25%;
  }

}
@media only screen and (max-device-width: 400px) {
#text_hero{
  padding-bottom: 0%;
  width: 70%;

}

}
@media only screen and (max-device-width: 340px) {
  #text_hero{
    
    width: 65%;
  }
  #h1_hero{
   
    font-size: 15vh;
  }
  #p_hero{
   
    font-size: 3.5vh;
  }
}
