

#h1_work{
color: #D18F89;
opacity:100%;
font-size: 15vh;
grid-column-start: 1;
grid-row-start: 3;
justify-self: center;
align-self: start;
padding-top: 10vh;


}

.slider{
  overflow-x: scroll;
  overflow-y: hidden;
  
  -ms-overflow-style: none;
  /* Hides the scrollbar. */
  
  -ms-scroll-chaining: none;
  /* Prevents Metro from swiping to the next tab or app. */
  
  -ms-scroll-snap-type: mandatory;
  /* Forces a snap scroll behavior on your images. */
  
  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
    width: 1000vw;
    height: 50vh;
    grid-area: slide;
    justify-self: center;
    
    z-index: 5;
    
}

.circular-slider {
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
  }
  
  .circular-slider .wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding-top: 55%;
    overflow: hidden;
    width: 100%;
   
  }
  .slider_content{
    position: absolute;
    transition: .5s;
    transform-origin: center;
  }
.slide_item{
  transform-origin: center;
  transition: .5s;
  position: absolute;
  width: 100px;
  height: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
 
  }

  .controls{
    position: absolute;
    top: 195%;
    width: 99%;
    text-align: center;
  }
  .left, .right{
    display: inline-block;
    color: #fff;
    font-size: 3em;
    cursor: pointer;
  }
  
  .left{
    margin-right: 30px;
  }
  .right{
    margin-left: 30px;
  }

  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }


  @media only screen and (max-device-width: 1512px) {
    .slider{
      height: 70vh;
    }
    .circular-slider .wrapper {
      height: 15vh;
      padding-top: 155%;
    }
  }

  @media only screen and (max-device-width: 1100px) {

    #h1_work{
      padding-top: 6vh;
    }

    .slider{
      width: 90vw;
      height: 84vh;
      
    }
    .circular-slider {
      height: 655px;
    }

    .circular-slider .wrapper {
      height: 15vh;
      padding-top: 55%;
    }
    #img_slide{
      width:40vw;
      height: auto;
    }
  
    .controls{
      top: 185%;
    }

  }

  @media only screen and (max-device-width: 500px) {
    #h1_work{
      grid-area: tWork;
      font-size: 6.5vh;
    }
    
    .slider{
      padding-top: 15%;
      grid-area: slider;
      height: 35vh;
  }

  .circular-slider {
    height: 55vh;
  }

  .circular-slider .wrapper {
    height: 0vh;
    padding-top:220%;
  }

  #img_slide{
    width:90vw;
    height: auto;
  }

  .controls{
    top: 150%;
  }
  }